{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1>Liste des utilisateurs</h1>

                <table>
                    <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Ville</th>
                        <th>En tandem avec ?</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.city }}</td>
                            <td>
                                {% if user.tandem %}
                            <td>{{ user.tandem.myTandem.firstName }}</td>
                            {% else %}
                                <td><a href="{{ path('tandem_new') }}">pas encore</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
