{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>En tandem ?</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <td><a href="{{ path('tandem_new') }}">tandem</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.tandem %}
                            oui
                        {% else %}
                            pas encore
                    {% endif %}
                </td>
                <td>{{ user.tandem.myTandem.firstName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button>
        <a href="{{ path('tandem_new') }}">Créer un nouveau binôme</a>
    </button>

{% endblock %}
